*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/*
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
*/
.main-container{
    background-color: white;
    border: 1px solid black;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 10px 10px 0 black;
}
.main-container img{
    width: 100%;
    border-radius: 25px;
    padding: 17px;
}
.main-container button{
    background-color: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 7%);
    font-weight: 800;
    border: none;
    padding: 8px;
    margin-left: 15px;
    border-radius: 7px;
    font-size: 13px;
    cursor: pointer;
}
.main-container h1{
    font-size: 23px;
    font-weight: 800;
    color: hsl(0, 0%, 7%);
    padding: 15px;
}
.main-container #p1{
    font-size: 16px;
    color: hsl(0, 0%, 7%);
    margin: 10px 0 0 15px;
}
.main-container #p2{
    padding: 0 0 15px 15px;
    color: hsl(0, 0%, 42%);
}
.main-container .author p{
    font-weight: 800;
}
.author{
    margin-top: 13px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.author img{
    width: 40px;
    height: 40px;
    margin: 0;
    margin-left: 15px;
    padding: 0;
}